.clients {
   padding: 94px 0;
   &__title {
      margin-bottom: 50px;
      font-weight: 700;
      font-size: 36px;
      line-height: 1.2;
      text-align: center;
      letter-spacing: 0.03em;
   }

   &__list {
      display: flex;
      justify-content: space-between;
   }

   &__list-link {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 170px;
      height: 90px;
      border: 1px solid var(--border-clients-link);
      border-radius: 4px;
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
      color: var(--color-clients-link);
      &:hover {
         border: 1px solid var(--border-accent-clients-link);
         color: var(--color-accent-clients-link);
      }
      &:focus {
         border: 1px solid var(--border-accent-clients-link);
         color: var(--color-accent-clients-link);
      }
   }

   &__list-icon {
      fill: currentColor;
   }
}
