:root {
   --primary-bg-white: #ffffff;
   --primary-bg-hero: #2f303a;
   --primary-bg-footer: #2f303a;
   --primary-bg-team: #f5f4fa;
   --primary-fc-middle-black: #212121;
   --primary-footer-logo-color: #ffffff;
   --primary-logo-accent: #2196f3;
   --primary-contacts-footer-color: #ffffff;
   --secondary-fc-white: #ffffff;
   /*****************************************/
   --header-logo-color: #000000;
   --color-header-link-hover: #2196f3;
   --color-header-link-focus: #2196f3;
   --color-header-link-active: #2196f3;
   --color-soft-skill-text: #757575;
   --color-team-list-text: #757575;
   --color-projects-list-text: #757575;
   --color-hero-text: #ffffff;
   --bc-team-list-item: #ffffff;
   --bc-footer-social-list-link: rgba(255, 255, 255, 0.1);
   --accent-footer-social-list-link: #2196f3;
   --color-footer-social-link: #ffffff;
   --fc-hero-button: #ffffff;
   --bc-search-menu-button: #f5f4fa;
   --fc-search-menu-button-accent: #ffffff;
   --bc-search-menu-button-accent: #2196f3;
   --bc-hero-button: #2196f3;
   --border-header-color: #ececec;
   --border-projects-color: #eeeeee;
   --soft-skill-bg-icon-box: #f5f4fa;
   --soft-skill-color-icon-black: #212121;
   --soft-skill-color-icon-accent: #2196f3;
   --bc-team-social-link: #2196f3;
   --bg-team-social-link: #afb1b8;
   --color-team-social-link: #ffffff;
   --border-clients-link: #afb1b8;
   --color-clients-link: #afb1b8;
   --color-accent-clients-link: #2196f3;
   --border-accent-clients-link: #2196f3;
   --tech-skill-image-title-color: #ffffff;
   --tech-skill-image-title-bg: rgba(47, 48, 58, 0.8);
   --projects-list-thumb-bg: rgba(33, 150, 243, 0.9);
   --projects-list-thumb-color: #ffffff;
   --backdrop-bg: rgba(0, 0, 0, 0.2);
   --modal-color: #ffffff;
   --modal-form-text: #757575;
   --modal-form-border-focus: #2196f3;
   --modal-form-icon-focus: #2196f3;
   --form-checkbox-bg: #2196f3;
   --color-checkbox-text: #757575;
   --color-checkbox-link: #2196f3;
   --color-checkbox-link-line: #2196f3;
}
